*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e3b190;
}

.navbar{
  height:9vh;
  width:100vw;
  background-color: #4a3027;
  justify-content: space-between;
}

.logo{
  margin: 0 0 0 10px;
  width: 9vw;
  height: 100%;
  background: url('images/logo6.jpg');
  background-size: contain;
}

.navlist{
  width: 30vw;
  height: 100%;
  color: white;
  list-style: none;
  gap: 20px;
  font-size: 23px;
}

.signin{
  width: 10vw;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

.drop{
  display: inline-block;
  position: relative;
}

.signin-dropdown{
  top:80%;
  left: -20%;
  display: none;
  position: absolute;
  background-color: #a86645;
  border:1px solid white;
  min-width: 150px;
  z-index: 1; 
}

.signin-dropdown p{
  color: white;
  border-bottom: 1px solid white;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 23px;
}

.signin:hover{ 
  .signin-dropdown{
    display: block;
  }
}

/* MAIN */
.hero{
  color: white;
  width: 100vw;
  height: 90vh;
  background-color: #f09d22;
  justify-content: space-between ;
  align-items: center;
  background-size:contain;
}

.heroimg{
  position: absolute;
  transition: opacity 3s ease-in-out;
  width: 100vw;
  height: 90vh;
  background: url('images/hero1.jpg');
  background-size: cover;
  filter: blur(1px);
}

.heroimg.fade {
  opacity: 0;
}

.slider1{
  background-color:#eead4b;
}

.hero i{
  z-index: 1;
  width: 30px;
  height: 50px;
  margin: 20px;
  font-size: 30px;
  color: white;
}

.hero-text{
  font-weight: 900;
  z-index: 1;
  font-size: 80px;
  position: relative;
}

.tagline{
  font-weight: 900;
  z-index: 1;
  font-size: 45px;
}

.herochange{
  height: 100px;
  width: 100%;
  gap:5px;
  z-index: 1;
  justify-content: center;
  align-items: end;
  position: absolute;
  bottom:0;
}

.slider{
  z-index: 1;
  width:20px;
  height: 20px;
  border:3px solid black
}

.book {
  width: 100%;
  height: 30vh;
  background: url('images/book.jpg');
  border: 2px solid black;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 40px 0;
  align-items: center;
  position: relative;
  overflow: hidden; 
}

.book::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
  opacity: 0;
  transition: opacity 0.5s  ease-in-out; 
}

.book:hover::before {
  opacity: 1; 
}

.book p {
  padding-left: 50px;
  font-size: 5em;
  position: relative;
  z-index: 1; 
}

.book i{
  margin-left: 15px;
  font-size: 1.5em;
  z-index: 1;
}

.border{
  margin-top: 10vh;
  width: 100%;
  height: 3px;
  background-color: black;
}

.heading{
  margin-left: 3vh;
  margin-top:100px;
  font-size: 50px;
}
.card1{
  height: 40vh;
  width: 94vw;
  margin: 100px 30px;
  gap: 10px;
}

.helpcard{
  width: 25vw;
  height: 100%;
  border-left: 4px solid black;
  gap:20px;
}

.helpcard5{
  border-right:4px solid black
}

.helpcard_img{
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.helpcard_text{
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.helpcard_desc{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.card2{
  height: 70vh;
  width: 94vw;
  margin: 150px 30px;
  gap: 10px;
}

.salecard{
  width: 25vw;
  height: 100%;
  border: 4px solid black;
  text-align: justify;
}

.salecard_img{
  width: 100%;
  height: 40%;
  background-size: cover;
  border-bottom: 4px solid black;
}

.salecard_head{
  padding: 3px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 800;
}

.salecard_desc{
  padding: 3px;
  font-size: 18px;
  font-weight: 500;
}

.footer{
  height: 35vh;
  width: 100%;
  background-color: #4a3027;
}

.footertext{
  height: 100%;
  width: 33%;
  border-right: 2px solid white;  
  margin-left: 20px;
}

.footer_heading{  
  margin: 10px 0 0 0;
  font-size: 25px;
  color: white;
}

.footer1_text{
  color: white;
  font-size: 18px;
}

.footer2_links{
  margin: 20px;
  font-weight: 500;
  color: white;
  list-style: none;
  font-size: 20px;
}

.footer2{
  gap:100px;
}

.footertext3{
  color: white;
  font-size: 20px;
}

.footer3_list{
  margin-top: 30px;
  gap:30px;
  list-style: none;
  justify-content: space-evenly;
}

.footer3_list a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

